.searchBar {
  display: flex;
  justify-content: center;
}

.searchInput {
  background-color: #e8edfb;
  padding: 10px;
  border-radius: 50px;
}

[data-theme="dark"] .searchInput {
  background-color: #48515e;
}

.searchBar input {
  background: transparent;
  border: none;
  padding-left: 10px;
  width: 450px;
  font-size: 18px;
  color: #202431;
}

.searchInput input:focus {
  outline: none;
}

[data-theme="dark"] .searchBar input {
  color: #d7e3e9;
}
