* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #839deb;
}

.attribution {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  color: #272f46;
}

.attribution a {
  text-decoration: none;
  color: #2e3750;
}